@import "overlay-modal";
.feedback {
  display: flex;
  position: fixed;
  right: 0px;
  flex-direction: column;
  z-index: 3;
  max-width: 440px;
  background: $white;
  opacity: 1;
  height: 100vh;
  padding-right: 32px;
  padding-top: 32px;
  @media screen and (max-width: 767px) {
    max-width: 100vw;
  }
  &__header {
    display: flex;
    flex-direction: column;
    &-button {
      position: fixed;
      right: 472px;
      top: 16px;
      @media screen and (max-width: 767px) {
        position: static;
      }
    }
  }
  &__main {
    display: flex;
    flex-direction: column;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 32px;
  }
  &__input {
    width: 100%;
    margin-bottom: 16px;
    background: $white;
    border: 1px solid $cardBorder;
    border-radius: 8px;
    padding: 12px 16px;
    font-family: 'TT Lakes';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $paginationActive;
    box-shadow: none;
    outline: none !important;
  }
  &__textarea {
    height: 118px;
  }
  &__title {
    font-size: 24px;
  }
  &__button {
    padding: 8px 12px;
    background: $pink;
    border: none;
    border-radius: 16px;
    font-family: 'TT Lakes';
    font-size: 12px;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: auto 0;
    max-width: 119px;
    max-height: 32px;
  }
  &__icon {
    background: url('../img/ic/goside.svg') no-repeat;
    border: none;
    height: 24px;
    width: 24px;
  }
  &__link {
    text-decoration: none;
  }
}
