.info {
  display: flex;
  justify-content: space-between;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 16px;
  padding-bottom: 19px;
  text-align: center;
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
  @media screen and (min-width: 768px) and (max-width: 1365px) {
    display: flex;
    justify-content: space-between;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 32px;
    padding-bottom: 25px;
  }
  @media screen and (min-width: 1366px) {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 32px;
    padding-bottom: 21px;
    float: right;
    width: calc(100% - 320px);
  }
  &__copyright {
    text-align: left;
    margin-bottom: 16px;
    flex: 1 1 0;
    @media screen and (max-width: 767px) {
      text-align: unset;
    }
  }
  &__privacy {
    margin-bottom: 16px;
    flex: 1 1 0;
  }
  &__disclaimer {
    flex: 1 1 0;
    text-align: right;
    @media screen and (max-width: 767px) {
      text-align: unset;
    }
  }
}


